@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html{
    scroll-behavior: smooth;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
   
}



body{
    font-family: "Playfair Display", serif;
    
}

.hamburger-menu {
    display: none;
}

.hamburger {
    width: 25px;
    height: 3px;
    background-color: #333;
    position: relative;
    margin: auto;
    margin-bottom: 5px; /* Spazio tra le linee */
}

.hamburger-menu .hamburger:nth-child(2) {
    width: 50%;
    float: right;
}

nav{
    min-height: 6vh;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;    
    
}

nav .Logo{
    width: 14%;
    height: 100%;
   
}

nav .Logo img{
    width: 100%;
    height: 100%;
    min-height: 6vh;
    object-fit: contain;
    padding: 0.5rem;
}

.container_link_menu{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    
}

.container_link_menu li{
    margin: 0 25px;
    transition: .2s all;
}

.container_link_menu li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Lora", serif;
    font-weight: 600;
    font-optical-sizing: auto;
   
}
.container_link_menu li a:hover{
    color: white;
    text-shadow: 1px 1px 1px #000000;
   
}

.container_link_menu li:hover{
    transform: scale(1.05);

}


.Contenitore_Banner{
    min-height: 100vh;  
    height: 110vh;
    position: relative;
}

.Contenitore_Video{
    height: 110vh;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0; /* Impostazione iniziale dell'opacità a 0 */
    transition: opacity 4s ease;
    z-index: -1;
    pointer-events: none;
}

#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    filter: brightness(0.8);
    
}



.Contenitore_Video h1{
    width: 100%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 13vw;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 4px 5px 3px #000000;
    font-weight: 600;
}

.titolo{
    width: 100%;
    text-align: center;
    font-size: 44px;
    padding: 3rem 0;
    border: 2px solid black;
    border-left:none;
    border-right: none;
}

.Contenitore{
    min-height: 300px;
    height: 800px;
    width: 100%;
    display: flex;
    overflow: hidden;   
    
}

.Contenitore-2{
    min-height: 300px;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.Contenitore-3{
    min-height: 300px;
    height: 800px;
    width: 100%;
    display: flex;
    overflow: hidden;   
}

.Contenitore-4{
    min-height: 300px;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}


.Parte_Sinistra {
    width: 50%;     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  
   
}

.Parte_Sinistra-2{
    width: 50%;     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}


.Parte_Sinistra-3{
    width: 50%;     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.Parte_Sinistra-4{
    width: 50%;     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}


.Parte_Sinistra h1{
    font-size: 3vw;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.Parte_Sinistra-2 h1{
    font-size: 3vw;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.Parte_Sinistra-3 h1{
    font-size: 3vw;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 20px;
}


.Parte_Sinistra-4 h1{
    font-size: 3vw;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 20px;
}


.Parte_Sinistra p{  
    text-align: center;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 1.4vw;
    font-family: "Lora", serif;
    padding: 1rem;
}


.Parte_Sinistra-2 p{
    text-align: center;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 1.4vw;
    font-family: "Lora", serif;
    padding: 1rem;
}



.Parte_Sinistra-3 p{
    text-align: center;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 1.4vw;
    font-family: "Lora", serif;
    padding: 1rem;
}

.Parte_Sinistra-4 p{
    text-align: center;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 1.4vw;
    font-family: "Lora", serif;
    padding: 1rem;
}



.Parte_Destra{
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    overflow: hidden;
}

.Parte_Destra-2{
    width: 50%;
    height: 100%;
    transform: translateX(-100%);
    overflow: hidden;
}

.Parte_Destra-3{
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    overflow: hidden;
}

.Parte_Destra-4{
    width: 50%;
    height: 100%;
    transform: translateX(-100%);
    overflow: hidden;
}

.Parte_Destra img{  
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Parte_Destra-2 img{  
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.Parte_Destra-3 img{  
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.Parte_Destra-4 img{  
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img{
    transition: 0.5s all ease-in-out;
}

img:hover{
    transform: scale(1.02);
}

.Contenitore_Prodotti{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transform: translateX(-100%);    
}

.Prodotto{
    border: 2px solid rgba(0, 0, 0, 0.452);
    height: 550px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.Prodotto img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    
}

.stelline{
    margin-top: 10px;
    width: 100%;
    height: 25px;
    text-align: center;
}

.stelline img{
    width: 25%;
    height: 100%;
    object-fit: cover;
}   

.Titolo_prodotto{
    width: 100%;
    display: flex;
    justify-content: space-evenly
}

.Titolo_prodotto h3{
    font-size: 18px;
    font-family: "Lora", serif;
    font-weight: 500;
    margin: 15px auto;
    
}


.Shop_Now{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.Shop_Now button{
    width: 80%;
    height: 30px;
    padding: 0.25rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: "Lora", serif;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.Shop_Now button:hover{ 
    background-color: white;
    color: black;
    border: 1px solid black;    
}



.container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    background-color: black;
    margin: 20px 0;
}

.horizontal-scrolling-items {
    display: flex;
    color: white;
    font-size: 40px;
    animation: infiniteScroll 14s linear infinite;
    white-space: nowrap;
}
  
.horizontal-scrolling-items h4{
    font-weight: 600;
    letter-spacing: 3px;
}

.Contenitore_Routine{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.Contenitore_Routine h1{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 30px;
}

.Contenitore_Routine button{
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: "Lora", serif;
    cursor: pointer;

}

.Contenitore_Routine button:hover{ 
    background-color: white;
    color: black;
       
}



#moduloContatto{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 100%;
    margin-bottom: 50px;
}

#moduloContatto h2{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    margin: 30px auto;
}

form{
    width: 70%;
 
}

.Nome_Cognome{
    display: flex;
    justify-content: center;
    align-items: center;

}

.Nome_Cognome label{
    font-size: 15px;
    font-weight: 500;
    font-family: "Lora", serif;
    margin-right: 10px;
}


.Nome_Cognome input{
    width: 200px;
    height: 30px;
    font-size: 15px;
    font-weight: 100;
    font-family: "Lora", serif;
    margin-right: 20px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
}

.Messaggio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

#messaggio{
    width: 500px;
    height: 100px;
    font-size: 15px;
    font-weight: 100;
    font-family: "Lora", serif;
 
    border-bottom: 1px solid black;
    outline: none;  
    background-color: transparent;
    resize: none;

}

.Bottone{
    width: 100%;
    text-align: center;
}

form button{
    width: 200px;
    height: 30px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 100;
    font-family: "Lora", serif;
    cursor: pointer;
   
    
}

form button:hover{ 
    background-color: white;
    color: black;
    border: 1px solid black;    
}


.footer {
    background-color: #f8f8f8;
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-logo img {
    max-width: 150px;
}

.footer-links{
    height: auto;
}

.footer-links a {
    color: #333;
    text-decoration: none;
    margin: 10px 10px;
    font-size: 16px;
    transition: color 0.3s;
    padding-bottom: 10px;
}

.footer-links a:hover {
    color: #007BFF;
}

.footer-social a {
    margin: 0 10px;
    transition: opacity 0.3s;
}

.footer-social a img {
    width: 24px;
    height: 24px;
}

.footer-social a:hover {
    opacity: 0.7;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

@keyframes infiniteScroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

@media only screen and (max-width: 1024px) {

    .Contenitore_Video h1{
        font-size: 15vw;
    }

    .Parte_Sinistra h1,
    .Parte_Sinistra-2 h1,
    .Parte_Sinistra-3 h1,
    .Parte_Sinistra-4 h1{
        font-size: 5vw;
    }

    .Parte_Sinistra p,
    .Parte_Sinistra-2 p,
    .Parte_Sinistra-3 p,
    .Parte_Sinistra-4 p{
        font-size: 2vw;
        line-height: 2.3vw;
    }

    .Contenitore_Prodotti{
        height: auto;
    }


    .container {
       margin-top: 50px;
    }

}



@media only screen and (max-width: 768px) {

    .Contenitore_Banner{
        height: 100vh;
    }

    .Contenitore_Video{
        height: 100vh;
    }

    .Contenitore_Video h1{
        font-size: 18vw;
    }

    .Contenitore,
    .Contenitore-2,
    .Contenitore-3,
    .Contenitore-4{
        height: 500px;
    }

    .Parte_Sinistra h1,
    .Parte_Sinistra-2 h1,
    .Parte_Sinistra-3 h1,
    .Parte_Sinistra-4 h1{
        font-size: 5vw;
    }

    .Parte_Sinistra p,
    .Parte_Sinistra-2 p,
    .Parte_Sinistra-3 p,
    .Parte_Sinistra-4 p{
        font-size: 2vw;
        line-height: 2.3vw;
        padding-top: 0.2rem;
    }

    .container_link_menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }

    .container_link_menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px; /* or whatever the height of your nav bar is */
        right: 0;
        background-color: #fff; /* Optional: background color for mobile menu */
        padding: 10px; /* Optional: padding for mobile menu */
        border: 1px solid #333; /* Optional: border for mobile menu */
    }

    
    .Prodotto{
       height: 400px;   
       width: 300px;     
    }

    .Prodotto img{
        width: 100%;
        height: 60%;
        object-fit: contain;
    }


    .stelline img{
        width: 25%;
        height: 100%;
        object-fit: cover;
    }   

    .horizontal-scrolling-items {
        font-size: 30px;
    }

    .Contenitore_Routine h1{
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 3px;
        text-align: center;
        margin-top: 30px;
    }

    .footer-links{
        display: flex;
        flex-direction: column;

    }
}

@media only screen and (max-width: 500px) {

    .Contenitore_Video h1{
        font-size: 21vw;
    }

    .titolo{
        font-size: 25px;
        padding: 2rem 0;
    }

    .Contenitore,
    .Contenitore-2,
    .Contenitore-3,
    .Contenitore-4{
        height: 400px;
    }

    .Parte_Sinistra h1,
    .Parte_Sinistra-2 h1,    
    .Parte_Sinistra-3 h1,
    .Parte_Sinistra-4 h1{
        font-size: 4.5vw;
    }



    .Parte_Sinistra p,
    .Parte_Sinistra-2 p,
    .Parte_Sinistra-3 p,
    .Parte_Sinistra-4 p{
        padding-top: 0;
        font-size: 2.8vw;
        line-height: 3.5vw; 
    }


    .Prodotto{
        height: 300px;   
        width: 205px;     
     }

    .Prodotto img{
        width: 100%;
        height: 50%;
        object-fit: contain;
    }


    .stelline img{  
        width: 25%;
        height: 100%;
        object-fit: cover;  
    }

    .Titolo_prodotto h3{
        font-size: 14px;

    }

    .container{
        height: 50px;
    }

    .horizontal-scrolling-items {
        font-size: 18px;
        animation: infiniteScroll 10s linear infinite;
    }


    .Nome_Cognome{
        flex-direction: column;
    }

    .Messaggio{
   
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #messaggio{
        width: 100%;
    }

    #moduloContatto{
        height: 500px;
        width: 100%;

    }

}